@font-face {
  font-family: "ProximaNova-Bold";
  src: local("ProximaNova-Bold"),
    url("../src/assets//fonts/proximaNova//ProximaNova-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: local("ProximaNova-Regular"),
    url("../src/assets/fonts/proximaNova/ProximaNova-Regular.ttf")
      format("truetype");
}

body {
  margin: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "ProximaNova-Regular",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
